.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-background-color;
}

.footer__adress {
  display: inline-block;

  margin-right: 70px;

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
